<div *ngIf="quiz" class="quiz-details">

<div class="quiz-header">
  <h2>{{quiz.title}}</h2>
  <p>{{quiz.description}}</p>
</div>
  <div *ngFor="let question of quiz.questions" class="question-box">

    <h4>{{question.text}}</h4>

    <div *ngIf="question.type === 'Single'">
      <label>
        <input type="radio" name="q{{question.id}}" [value]="question.optionA">
        {{question.optionA}}
      </label>

      <label>
        <input type="radio" name="q{{question.id}}" [value]="question.optionB">
        {{question.optionB}}
      </label>

      <label>
        <input type="radio" name="q{{question.id}}" [value]="question.optionC">
        {{question.optionC}}
      </label>

      <label>
        <input type="radio" name="q{{question.id}}" [value]="question.optionD">
        {{question.optionD}}
      </label>
    </div>

  <div *ngIf="question.type === 'Multiple'">
    <label><input type="checkbox"> {{question.optionA}}</label>
    <label><input type="checkbox"> {{question.optionB}}</label>
    <label><input type="checkbox"> {{question.optionC}}</label>
    <label><input type="checkbox"> {{question.optionD}}</label>
  </div>

  <div *ngIf="question.type === 'TrueFalse'">
    <label><input type="radio" name="q{{question.id}}" value="True">True</label>
    <label><input type="radio" name="q{{question.id}}" value="False">False</label>
  </div>

  <div *ngIf="question.type === 'Input'">
  <input
    type="text"
    [(ngModel)]="question.userAnswer"
    [name]="'answer' + question.id"
    placeholder="Your answer">
  </div>
</div>

  <button class="back-btn" (click)="goBack()">Back</button>

</div>