<div class="page-container">

  <div class="profile-box">
    <img [src]="imageUri" class="profile-image">

    <div class="profile-info">
      <h3>{{username}}</h3>
      <p>{{email}}</p>
      <p *ngIf="role === 'Admin'">👑 Admin</p>
      <p *ngIf="role === 'User'">👤 User</p>
    </div>
  </div>

  <div class="actions">
    <button *ngIf="role === 'Admin'" (click)="goToCreateQuiz()">
      Create Quiz
    </button>
  </div>

  <div class="filters">
  <input type="text" placeholder="Search quiz..."[(ngModel)]="searchTerm"(input)="applyFilters()">
  <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
    <option value="">All categories</option>
    <option *ngFor="let c of categories">{{c}}</option>
  </select>

  <select [(ngModel)]="selectedDifficulty" (change)="applyFilters()">
    <option value="">All difficulty</option>
    <option value="Easy">Easy</option>
    <option value="Normal">Normal</option>
    <option value="Hard">Hard</option>
  </select>

</div>

  <div class="quiz-grid">
    <div *ngFor="let quiz of filteredQuizzes" class="quiz-card">
      <h4>{{quiz.title}}</h4>
      <p>{{quiz.description}}</p>

      <span class="difficulty" [ngClass]="quiz.difficulty">
        {{quiz.difficulty}}
      </span>

      <button (click)="openQuiz(quiz.id)">Start Quiz</button>
    </div>
  </div>

</div>