<div class="page-container">

  <div class="profile-box">
    <img [src]="imageUri" class="profile-image">

    <div class="profile-info">
      <h3>{{username}}</h3>
      <p>{{email}}</p>
      <p *ngIf="role === 'Admin'">👑 Admin</p>
      <p *ngIf="role === 'User'">👤 User</p>
    </div>
  </div>

  <div class="actions">
    <button *ngIf="role === 'Admin'" (click)="goToCreateQuiz()">
      Create Quiz
    </button>
  </div>

  <div class="quiz-grid">
    <div *ngFor="let quiz of quizzes" class="quiz-card">
      <h4>{{quiz.title}}</h4>
      <p>{{quiz.description}}</p>

      <span class="difficulty" [ngClass]="quiz.difficulty">
        {{quiz.difficulty}}
      </span>

      <button (click)="openQuiz(quiz.id)">Open Quiz</button>
    </div>
  </div>

</div>