@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.page-container {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  color: white;
  margin-bottom: 30px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h3 {
  margin: 0;
  font-size: 22px;
}

.profile-info p {
  margin: 4px 0;
  color: #555;
}

.actions {
  margin-bottom: 30px;
}

.actions button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: white;
  color: #764ba2;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  transform: scale(1.05);
}

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 230px;
  

  background: white;
  padding: 22px;
  border-radius: 18px;
  
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.quiz-card:hover {
  transform: translateY(-5px);
}

.quiz-card h4 {
  color: #764ba2;
  margin-bottom: 10px;
}

.quiz-card p {
  color: #555;
  flex-grow: 1;
}

.quiz-card button {
  margin-top: 20px;

  background: #667eea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.quiz-card button:hover {
  background: #764ba2;
}

.difficulty {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.Easy {
  background: #d4edda;
  color: #155724;
}

.Normal {
  background: #fff3cd;
  color: #856404;
}

.Hard {
  background: #f8d7da;
  color: #721c24;
}